extends baseEmail

block content
  p Hi #{name},
    H3 Account Deletion Notice.
    p Your Account  #{to} at https://www.eventclub.com.na has been deleted.
      p We're sorry to see you go.

    p - EventClub Namibia Team
